In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
CovidData = pd.read_csv("All_DataSets/covid19_Confirmed_dataset.csv")
CovidDeathData = pd.read_csv("All_DataSets/covid19_deaths_dataset.csv")
CovidHappines = pd.read_csv("All_DataSets/worldwide_happiness_report.csv")

In [4]:
CovidData.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1092,1176,1279,1351,1463,1531,1703,1828,1939,2171
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,609,634,663,678,712,726,736,750,766,773
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2811,2910,3007,3127,3256,3382,3517,3649,3848,4006
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,717,723,723,731,738,738,743,743,743,745
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,25,25,25,25,26,27,27,27,27

In [5]:
CovidDeathData.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,36,40,42,43,47,50,57,58,60,64
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,26,27,27,27,27,28,28,30,30,31
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,392,402,407,415,419,425,432,437,444,450
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,37,37,37,40,40,40,40,41,42,42
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [6]:
CovidHappines.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [7]:
#Wehave To Delete Some Unwanted Columns To make It Useful
#Then We will Transpose The dataframe in such way that country will be column and dates will be an another column
#The Columns Province/State Lat Long All this columns Has no use So we Delet It
CovidData.drop(["Province/State","Lat","Long"] ,inplace = True ,axis = 1)

In [14]:

# Step 1: Melt (unpivot dates into rows)
df = CovidData.melt(
    id_vars=["Country/Region"],   
    value_vars=CovidData.columns[4:],   
    var_name="Date",
    value_name="Cases"
)

# Step 2: Convert Date to datetime
df["Date"] = pd.to_datetime(df["Date"])

# Step 3: Aggregate (sum over provinces)
df_grouped = df.groupby(["Date", "Country/Region"], as_index=False)["Cases"].sum()

# Step 4: Pivot (countries as columns)
new_df = df_grouped.pivot(
    index="Date",
    columns="Country/Region",
    values="Cases"
).reset_index()

new_df.head(50)

C:\Users\HP\AppData\Local\Temp\ipykernel_8820\2806878361.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
0,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1,2020-01-26,0,0,0,0,0,0,0,0,4,...,0,0,0,0,2,0,0,0,0,0
2,2020-01-27,0,0,0,0,0,0,0,0,5,...,0,0,0,0,2,0,0,0,0,0
3,2020-01-28,0,0,0,0,0,0,0,0,5,...,0,0,0,0,2,0,0,0,0,0
4,2020-01-29,0,0,0,0,0,0,0,0,6,...,0,0,0,0,2,0,0,0,0,0
5,2020-01-30,0,0,0,0,0,0,0,0,9,...,0,0,0,0,2,0,0,0,0,0
6,2020-01-31,0,0,0,0,0,0,0,0,9,...,2,0,0,0,2,0,0,0,0,0
7,2020-02-01,0,0,0,0,0,0,0,0,12,...,2,0,0,0,6,0,0,0,0,0
8,2020-02-02,0,0,0,0,0,0,0,0,12,...,2,0,0,0,6,0,0,0,0,0
9,2020-02-03,0,0,0,0,0,0,0,0,12,...,2,0,0,0,8,0,0,0,0,0
10,2020-02-04,0,0,0,0,0,0,0,0,13,...,2,0,0,0,8,0,0,0,0,0
11,2020-02-05,0,0,0,0,0,0,0,0,13,...,2,0,0,0,8,0,0,0,0,0
12,2020-02-06,0,0,0,0,0,0,0,0,14,...,2,0,0,0,10,0,0,0,0,0
13,2020-02-07,0,0,0,0,0,0,0,0,15,...,3,0,0,0,10,0,0,0,0,0
14,2020-02-08,0,0,0,0,0,0,0,0,15,...,3,0,0,0,13,0,0,0,0,0
15,2020-02-09,0,0,0,0,0,0,0,0,15,...,3,0,0,0,13,0,0,0,0,0
16,2020-02-10,0,0,0,0,0,0,0,0,15,...,8,0,0,0,14,0,0,0,0,0
17,2020-02-11,0,0,0,0,0,0,0,0,15,...,8,0,0,0,15,0,0,0,0,0
18,2020-02-12,0,0,0,0,0,0,0,0,15,...,9,0,0,0,15,0,0,0,0,0
19,2020-02-13,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
20,2020-02-14,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
21,2020-02-15,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
22,2020-02-16,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
23,2020-02-17,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
24,2020-02-18,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
25,2020-02-19,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
26,2020-02-20,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
27,2020-02-21,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
28,2020-02-22,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
29,2020-02-23,0,0,0,0,0,0,0,0,15,...,9,0,0,0,16,0,0,0,0,0
30,2020-02-24,1,0,0,0,0,0,0,0,15,...,13,0,0,0,16,0,0,0,0,0
31,2020-02-25,1,0,1,0,0,0,0,0,15,...,13,0,0,0,16,0,0,0,0,0
32,2020-02-26,1,0,1,0,0,0,0,0,15,...,13,0,0,0,16,0,0,0,0,0
33,2020-02-27,1,0,1,0,0,0,0,0,15,...,15,0,0,0,16,0,0,0,0,0
34,2020-02-28,1,0,1,0,0,0,0,0,15,...,20,0,0,0,16,0,0,0,0,0
35,2020-02-29,1,0,1,0,0,0,0,0,25,...,23,0,0,0,16,0,0,0,0,0
36,2020-03-01,1,0,1,0,0,0,0,1,27,...,36,0,0,0,16,0,0,0,0,0
37,2020-03-02,1,0,3,1,0,0,0,1,30,...,40,0,0,0,16,0,0,0,0,0
38,2020-03-03,1,0,5,1,0,0,1,1,39,...,51,0,0,0,16,0,0,0,0,0
39,2020-03-04,1,0,12,1,0,0,1,1,52,...,86,0,0,0,16,0,0,0,0,0
40,2020-03-05,1,0,12,1,0,0,1,1,55,...,116,0,0,0,16,4,0,0,0,0
41,2020-03-06,1,0,17,1,0,0,2,1,60,...,164,0,0,0,16,7,0,0,0,0
42,2020-03-07,1,0,17,1,0,0,8,1,63,...,207,0,0,0,18,16,0,0,0,0
43,2020-03-08,4,0,19,1,0,0,12,1,76,...,274,0,0,0,30,16,0,0,0,0
44,2020-03-09,4,2,20,1,0,0,12,1,91,...,322,0,0,0,30,19,0,0,0,0
45,2020-03-10,5,10,20,1,0,0,17,1,107,...,384,0,0,0,31,26,0,0,0,0
46,2020-03-11,7,12,20,1,0,0,19,1,128,...,459,0,0,0,38,30,0,0,0,0
47,2020-03-12,7,23,24,1,0,0,19,4,128,...,459,0,0,0,39,30,0,0,0,0
48,2020-03-13,7,33,26,1,0,1,31,8,200,...,802,0,0,0,47,31,0,0,0,0
49,2020-03-14,11,38,37,1,0,1,34,18,250,...,1144,4,0,2,53,35,0,0,0,0